:root {
	--geode-bg-color-1: rgb(37, 37, 44);
	--geode-bg-color-2: rgb(18, 18, 24);
	--geode-bg-color-3: rgb(5, 5, 8);
	--geode-accent-color-1: rgb(223, 236, 255);
	--geode-accent-color-2: rgb(160, 169, 184);
	--geode-accent-color-3: rgb(100, 109, 123);
	--geode-central-color-1: rgb(111, 46, 169);
	--geode-central-color-2: rgb(78, 17, 131);
	--geode-central-color-3: rgb(29, 0, 54);
	--geode-remove-color: rgb(198, 68, 68);
	--geode-remove-color-hover: rgb(138, 0, 0);
	--geode-dropdown-padding: 0.5vh 1vh 0.5vh 1vh;
	--geode-block-slot-hover: rgb(223, 236, 255);
}

/*#region Essential Layout*/
.vbox {
	display: flex;
	flex-direction: column;
	justify-content: top;
}
.hbox {
	display: flex;
	flex-direction: row;
	justify-content: left;
}
:is(button, .pointer-hover):hover {
	cursor: pointer;
}
:is(button.geode-add-button, .geode-add-button) {
	padding: 0.5vh;
	border-radius: 0.5vh;
	color: var(--geode-central-color-3);
	background-color: var(--geode-accent-color-2);
}
:is(button.geode-add-button, .geode-add-button):hover {
	background-color: var(--geode-accent-color-3);
}
:is(button.geode-secondary-button, .geode-secondary-button) {
	padding: 0.5vh;
	border-radius: 0.5vh;
	background-color: var(--geode-central-color-1);
}
:is(button.geode-secondary-button, .geode-secondary-button):hover {
	background-color: var(--geode-central-color-2);
}
:is(button.geode-remove-button, .geode-remove-button) {
	padding: 0.5vh;
	border-radius: 0.5vh;
	color: var(--geode-central-color-3);
	background-color: var(--geode-remove-color);
}
:is(button.geode-remove-button, .geode-remove-button):hover {
	background-color: var(--geode-remove-color-hover);
}
/*#endregion Essential Layout*/

.geode-main-div {
	width: 100%;
	height: 100%;
	background-color: var(--geode-bg-color-1);
}

:has(.geode-main-div) select {
	padding: var(--geode-dropdown-padding);
}

/*#region Tabs*/
.geode-tab-bar {
	background-color: var(--geode-bg-color-1);
	border-bottom-style: solid;
	border-color: var(--geode-accent-color-1);
	padding: 0.5vw;
	gap: 0.5vw;
}
:is(button.geode-tab-icon, .geode-tab-icon) {
	width: 10%;
	background-color: var(--geode-accent-color-2);
}
:is(:is(button.geode-tab-icon, .geode-tab-icon):hover, :is(button.geode-tab-icon-opened, .geode-tab-icon-opened)) {
	width: 10%;
	background-color: var(--geode-accent-color-3);
}
.geode-tab-container {
	width: 100%;
	height: 98%;
	position: relative;
	background-color: var(--geode-bg-color-2);
}
/*#endregion Tabs*/

/*#region Files*/
.geode-folder {
	background-color: var(--geode-bg-color-2);
	display: grid;
	gap: 1vw;
	grid-template-columns: repeat(8, 1fr);
}
.geode-file-thumbnail {
	width: 100%;
	aspect-ratio: 1;
	padding: 1%;
	border-style: solid;
	border-radius: 5%;
	border-color: var(--geode-accent-color-1);
	background-color: var(--geode-bg-color-2);
	transition-property: width height background-color;
	transition-duration: 250ms;
}
:is(.geode-file-thumbnail:hover, .geode-file-thumbnail.selected) {
	width: 102.5%;
	aspect-ratio: 1;
	padding: 1%;
	border-style: solid;
	border-radius: 5%;
	border-color: var(--geode-accent-color-1);
	background-color: var(--geode-central-color-2);
}
.geode-file-manager-files {
	width: 70%;
	background-color: var(--geode-bg-color-2);
}
.geode-file-properties {
	width: 30%;
	border-left-style: solid;
	border-left-color: var(--geode-accent-color-3);
	background-color: var(--geode-bg-color-3);
}
/*#endregion Files*/

/*#region Object List*/
.geode-object-list {
	width: 10%;
	height: 100%;
	padding: 0.5vh;
	gap: 0.5vh;
	background-color: var(--geode-bg-color-2);
}
.geode-object-list > .hbox > button {
	width: 50%;
}
.geode-object-in-list {
	padding: 0.5vh;
	border-style: solid;
	border-radius: 0.5vh;
	border-color: var(--geode-accent-color-2);
	background-color: var(--geode-central-color-2);
	transition: ease 100ms;
}
.geode-object-in-list:hover {
	padding: 0.75vh;
	background-color: var(--geode-central-color-3);
}
/*#endregion Object List*/

/*#region Scene Layout*/
.geode-scene-scroll-wrapper {
	position: relative;
	overflow: auto;
	width: 60%;
	height: 100%;
	background-color: var(--geode-bg-color-1);
}
.geode-scene-wrapper {
	position: absolute;
	bottom: 50%;
	left: 50%;
}
.geode-scene {
	position: relative;
}
/*#endregion Scene Layout*/

/*#region Inspector*/
.geode-inspector {
	width: 30%;
	height: 100%;
	padding: 2vh;
	gap: 1vh;
	background-color: var(--geode-bg-color-2);
}
.geode-inspector-top-bar {
	width: 100%;
	gap: 1vh;
}
.geode-inspector-new-var {
	width: 100%;
	gap: 1vh;
}
.geode-inspector-variable-list {
	width: 100%;
	height: 87.5%;
	overflow: scroll;
	padding: 1vh;
	background-color: var(--geode-accent-color-3);
	border-style: solid;
	border-radius: 2vh;
	border-color: var(--geode-accent-color-1);
	gap: 1vh;
}
.geode-inspector-variable {
	width: 100%;
	padding: 0.5vh;
	border-radius: 0.5vh;
	border-style: solid;
	border-color: var(--geode-accent-color-2);
	gap: 1vh;
	background-color: var(--geode-central-color-2);
}
.geode-inspector-variable :is(select, .geode-value-input) {
	background-color: var(--geode-central-color-3);
}
.geode-inspector-variable .geode-boolean-input.geode-unchecked {
	border-color: var(--geode-central-color-3);
	background-color: var(--geode-central-color-3);
}
.geode-inspector-variable .geode-boolean-input.geode-checked {
	border-color: var(--geode-central-color-3);
	background-color: var(--geode-central-color-1);
}
.geode-inspector-variable .geode-boolean-input.geode-checked:hover {
	border-color: var(--geode-central-color-3);
	background-color: var(--geode-central-color-2);
}
:is(.geode-temporary-input-width-checker, .geode-temporary-select-width-checker) {
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
}
.geode-temporary-input-width-checker {
	padding: var(--input-padding);
}
.geode-temporary-select-width-checker {
	padding: var(--geode-dropdown-padding);
}
/*#endregion Inspector*/

/*#region Script Editor*/
.geode-script-wrapper {
	width: 70%;
	height: 100%;
	background-color: var(--geode-bg-color-1);
}
.geode-script {
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: var(--geode-bg-color-1);
}
.geode-script-navigator {
	background-color: var(--geode-bg-color-2);
	border-bottom-style: solid;
	border-color: var(--geode-accent-color-3);
	padding: 0.5vw;
	gap: 0.5vw;
	width: 100%;
}
.geode-block-pool {
	width: 30%;
	height: 100%;
	background-color: var(--geode-bg-color-2);
}
.geode-blocks-list {
	padding: 0.5vh;
	width: 100%;
	height: 100%;
	overflow: scroll;
	gap: 1vh;
	border-left-style: solid;
	border-color: var(--geode-accent-color-3);
}
.geode-block-inner-section {
	gap: 0.5vh;
}
.geode-script-block:hover {
	cursor: pointer;
}
.geode-block-delete-div {
	background-color: var(--geode-remove-color);
}
.geode-block-delete-div-hover {
	background-color: var(--geode-remove-color-hover);
}
/*#endregion Script Editor*/

/*#region Blocks*/
.geode-script-block {
	width: fit-content;
	height: fit-content;
	border-style: solid;
	border-radius: 1vh;
	padding: 0.5vh;
	min-height: 4vh;
	min-width: 4vh;
	gap: 0.5vh;
}
.geode-script-block :is(.geode-do-nothing-block.geode-block-slot-hover, .geode-block-slot-hover) {
	border-style: solid;
	border-width: 0.5vh;
	border-radius: 1vh;
	border-color: var(--geode-block-slot-hover);
}
/*#region Chain*/
.geode-chain-block {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-bg-color-2);
	gap: 0.5vh;
}
.geode-chain-block > .geode-block-inner-section > .geode-do-nothing-block {
	border-color: var(--geode-bg-color-1);
	background-color: var(--geode-bg-color-3);
}
.geode-chain-final-add-slot {
	width: 100%;
}
/*#endregion Chain*/

/*#region Get Variable*/
.geode-get-variable-block {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-central-color-2);
}
.geode-get-variable-block > div > select {
	padding-right: 0;
	background-color: var(--geode-central-color-3);
}
/*#endregion Get Variable*/

/*#region Set Variable*/
.geode-set-variable-block {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-central-color-2);
}
.geode-set-variable-block > div > :is(select, .geode-value-input) {
	background-color: var(--geode-central-color-3);
}
.geode-set-variable-block > .geode-boolean-input.geode-unchecked {
	border-color: var(--geode-central-color-3);
	background-color: var(--geode-central-color-3);
}
.geode-set-variable-block > .geode-boolean-input.geode-checked {
	border-color: var(--geode-central-color-3);
	background-color: var(--geode-central-color-1);
}
.geode-set-variable-block > .geode-boolean-input.geode-checked:hover {
	border-color: var(--geode-central-color-3);
	background-color: var(--geode-central-color-2);
}
/*#endregion Set Variable*/

/*#region If/If Else*/
.geode-if-block {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-accent-color-2);
}
.geode-if-block > .geode-block-inner-section > div > .geode-boolean-input.geode-unchecked {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-accent-color-3);
}
.geode-if-block > .geode-block-inner-section > div > .geode-boolean-input.geode-checked {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-accent-color-1);
}
.geode-if-block > .geode-block-inner-section > div > .geode-boolean-input.geode-checked:hover {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-accent-color-2);
}
:is(.geode-if-block, .geode-if-else-block) > .geode-do-nothing-block {
	border-color: var(--geode-accent-color-1);
	background-color: var(--geode-accent-color-3);
}
/*#endregion If/If Else*/

/*#region Key Down*/
.geode-key-down-block {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-central-color-2);
}
.geode-key-down-block > select {
	background-color: var(--geode-central-color-3);
}
/*#endregion Key Down*/

/*#region Compare Values*/
.geode-compare-values-block {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-central-color-2);
}
:is(.geode-compare-values-block > select, .geode-compare-values-block > div > .geode-value-input) {
	background-color: var(--geode-central-color-3);
}
/*#endregion Compare Values*/

/*#region Binary Operators*/
.geode-binary-operator-block {
	border-color: var(--geode-accent-color-3);
	background-color: var(--geode-central-color-2);
}
:is(.geode-binary-operator-block > select, .geode-binary-operator-block > div > .geode-value-input) {
	background-color: var(--geode-central-color-3);
}
/*#endregion Number Operator*/

/*#endregion Blocks*/

/*#region Game View*/
.geode-game-view-main-div {
	position: relative;
	overflow: hidden;
	background-color: var(--geode-bg-color-1);
}
.geode-game-wrapper {
	position: absolute;
	bottom: 50%;
	left: 50%;
}
.geode-game {
	position: relative;
}
/*#endregion Game View*/